/* Definições Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Sidebar */
#sidebar {
    padding: 20px;
    background-color: #f6f1ee;
    height: 100vh; /* Ocupa a altura total da página */
    position: sticky; /* Fixa o sidebar na tela */
    top: 0; /* Ajusta a posição do sidebar */
}

#sidebar .profile-section {
    margin-bottom: 30px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#sidebar .nav-link {
    font-size: 1.2rem; /* Aumenta o tamanho da fonte */
    padding: 15px 20px; /* Aumenta o espaçamento entre os links */
    margin-bottom: 10px; /* Adiciona um espaço entre os itens do menu */
    border-radius: 10px; /* Bordas arredondadas */
    color: #333;
    background-color: #e9ecef;
    transition: background-color 0.3s ease; /* Efeito suave ao passar o mouse */
}

#sidebar .nav-link:hover {
    background-color: #eb604e; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

#sidebar .nav-link.active {
    background-color: #eb604e; /* Cor de fundo do item ativo */
    color: #fff; /* Cor do texto do item ativo */
}

#sidebar .icon {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

/* Botão de Feedback */
.feedback-section {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px); /* Ajusta a largura para não ultrapassar o sidebar */
    left: 20px; /* Alinha à esquerda do sidebar */
}

.feedback-section h6 {
    color: #333;
    font-size: 1rem;
}

.btn-feedback {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 5px 10px;
}

/* Conteúdo Principal */
.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

/* Cartões de Resumo no topo */
.dashboard-header .card {
    background-color: #007bff;
    color: white;
    width: 22%;
}

.dashboard-header .card h5 {
    font-size: 16px;
}

.dashboard-header .card p {
    font-size: 24px;
}

/* Gráfico e Seção de Métricas */
.chart-container {
    width: 60%;
    height: 400px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metrics .card {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.metrics .card h6 {
    font-size: 14px;
}

.metrics .card p {
    font-size: 18px;
}

/* Botões Gerais */
.btn-info {
    background-color: #17a2b8;
    color: white;
}

/* Modal de Adicionar Pagamento */
#addPaymentModal .modal-content {
    padding: 20px;
}
